
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap%27');

* {  margin: 0;     
    padding: 0;     
    font-family: 'Darker Grotesque', sans-serif;
}


body {
    display: block;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    height: 30%;
}
#content-header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}
.link a{
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}
.underline-bottom{

    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }



main {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    align-items: center;

}


h1 {
    margin-top: 3%;
    padding-bottom: 3%;
    font-family: 'Roboto', sans-serif;
    
}

.container-lobo {

    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4%;
    
    
    
}

.descrition {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    
}

#text {
    max-height: 100%;
    
    white-space: pre-line;
    font-family: Darker Grotesque;
    font-size: 130%;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10%;
    
    
    
    
}

.img-btns {
    
    min-width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#img-lobo {
    width: 80%;
    height: 80%;
    box-shadow: -40px -40px 0px 0px #2C5680;
}


.btns-adotar-excluir {
    
    
    display: flex;
    width: 80%;
    height: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}


#btn-adotar {
    background-color: #7AAC3A;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    height: 90%;
    width: 40%;
    
}

#btn-excluir {
    background-color: #DE5959;
    color: #FFFFFF;
    
    font-family: 'Roboto', sans-serif;
    height: 90%;
    width: 40%;
}



footer{
    border-top: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    color: white;

}
#mapa{
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    height: 30px;
    width: 144px;
    vertical-align: center;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){

    .descrition {
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        
    }

    #contato {
        display: flex;
        flex-direction: column;
    }
    #mapa{
        margin-bottom: 25px;
    }
}