*{margin: 0; padding: 0;}
a{
    text-decoration: none;
}
h1{
    margin: 0;
}
.barra{
    width: 50px;
    /* margin-left: auto;
    margin-right: auto; */
    border-bottom: 4px solid #FFFFFF;
    margin-bottom: 15px;
}
/* HEADER */
header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;

    /* height: 70px; */
}
#content-header{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-header{
    height: 65px;
    background: grey;
    width: 50px;
    
}

/* Main */

    /* Adote Lobinho */
#adoteLobinho{
    /* background: url(../imagens/logo.png); */
    background-color: blue;
    display: flex;
    justify-content: center;
}
#adoteLobinho div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    color:#FFFFFF;
    text-align: center;
    padding-top: 15px;
    font-size: 2em;
}
#adoteLobinho div h1{
    display: flex;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 20px;
    height: 130px;
    border: 1px solid red;
    
}
#adoteLobinho div p{
    font-size: 22px;
    margin-bottom: 142px;
}
    /* Sobre */
#sobre{
    background-color: #2C5680;
    display: flex;
    justify-content: center;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 35px;
}
#sobre div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#sobre div h2{
    color: #DEB959;
    font-size: 35px;
    padding-bottom:20px;
}
#sobre div p{
    font-size: 20px;
    color: #FFFFFF;
}

    /* Valores */
#valores{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#escrito-valores{
    display: flex;
    justify-content: center;
    width: 70%;
}
#escrito-valores h2{
    color: #DEB959;
    font-size: 35px;
}
#content-valores{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.block{
    width: 23%;
    height: 380px;
    min-width: 157px;
    margin: 15px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43%;
}
.text-block{
    height: 55%;
    width: 85%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text-block h3{
    padding: 15px 0 24px;
    font-size: 23px;
}
.text-block p{
    font-size: 17px;
}
.img-valores{
    /* border-radius: 360px; */
    width: 162px;
    height: 95%;
    border-radius: 180px;
    background-color: greenyellow;
}

    /* Lobos Exemplos */