
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap%27');

* {  margin: 0;     
    padding: 0;     
    font-weight: 300;
    font-family: 'Darker Grotesque', sans-serif;
}


body {
    display: block;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    height: 30%;
}
#content-header{
    width: 70%;
    display: flex;
    min-width: 460px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:510px){
    #content-header{
        flex-direction: column;
        justify-content: center;
        min-width: none;
        width: auto;
    }
}
.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}

span {
    font-weight: 600;
}
.link a{
    font-weight: 600;
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}
.underline-bottom{

    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }



main {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    height: 30vw;
    justify-content: space-around;
    align-items: center;
}


h1 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    
}

.container-lobo {

    width: 55%;
    min-width: 480px;
    min-height: 68%;
    max-height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
    margin-top: 80px;
    
}

.descrition {
    min-width: 45%;
    max-width: 45%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    
}

#text {
    max-height: 100%;
    white-space: pre-line;
    font-family: Darker Grotesque;
    font-size: 130%;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10%;  
}

.img-btns {
    height: 100%;
    min-width: 220px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#img-lobo {
    width: 80%;
    min-width: 175px;
    min-height: 110px;
    height: 70%;
    box-shadow: -40px -40px 0px 0px #2C5680;
}


.btns-adotar-excluir {
    
    display: flex;
    width: 80%;
    height: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    
}


#btn-adotar {
    background-color: #7AAC3A;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    height: 90%;
    width: 40%;
    border: none;
    
}
#btn-adotar:visited{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

#btn-excluir {
    background-color: #DE5959;
    color: #FFFFFF;
    border: 1px solid ;
    border: none;
    font-family: 'Roboto', sans-serif;
    height: 90%;
    width: 40%;
}


footer{
    max-height: auto;
    margin-top: 8vh;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 18px;
    display: flex;
    align-items: center;
    color: white;

}
#mapa{
    margin-top: 2.6%;
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
.botao-quemSomos p{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.botao-quemSomos:visited{
    text-decoration: none;
    color: black;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){

    .descrition {
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        
    }
    #text{text-align: center;
    }
    .container-lobo{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #contato {
        display: flex;
        flex-direction: column;
    }
    
    #mapa{
        margin-bottom: 25px;
    }
}
@media (max-width:470px){
    #content-footer{
        justify-content: center;
        flex-direction: column;
    }
    #tudo-contato{
        justify-content: center;
    }
    .div-partes{
        justify-content: center;
    }
    #contato{
        justify-content: center;
    }
    #mapa{
        margin-left: 20px;
        justify-content: center;
        margin: none;
    }
    iframe{
        width: 95%;
        min-width: 140px;
    }
    .centraliza{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}