@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&display=swap%27');

* {  margin: 0;     
    padding: 0;     
    font-weight: 600;

    font-family: 'Darker Grotesque', sans-serif;
}

/* HEADER */
header {
    background-color: #85CDF5;
    display: flex;
    justify-content: center;
    height: 30%;
}
#content-header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:510px){
    #content-header{
        flex-direction: column;
        justify-content: center;
        min-width: none;
        width: auto;
    }
}
.img-header{
    position: relative;
    left: -7px;
    margin: 12px 0 6px 0;
}
span {
    font-weight: 600;
}
.link a{
    font-weight: 600;
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}

.underline-bottom{
    padding-bottom: 4px ;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}
.underline-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    height: 3px;
    transform: translateX(180px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .underline-bottom:hover:before, .underline-bottom:focus:before, .underline-bottom:active:before {
    transform: translateX(0);
  }
/* MAIN */
main{
    font-size: 120%;
    display: flex;
    justify-content: center;
}
#mainmenu{
    margin-top: 3rem ;
    border: black solid 3px;
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}
#titlemenu{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}
#tile{
    font-size: 100px;

}
#menubody{
    margin-top: 5vh;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
#nameyear{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#name{
    
    width: 85%;
}
#namee{
    margin-bottom: 10px;
}
#nametext{
    width: 100%;
    background-color: #E6E6E6;
    border: 1px solid;
    border-color: #333333;

}
#year{
    width: 10%;
}
#yearr{
    margin-bottom: 10px;
}
#yeartext{
    border: 1px solid;
    border-color: #333333;
    width: 100%;
    background-color: #E6E6E6;
}
#link{
    padding: 5px;
    margin: 10px;
}
#linkk{
    margin-bottom: 10px;
}
#linktext{
    border: 1px solid;
    border-color: #333333;
    background-color: #E6E6E6;
    width: 100% 
}
#descr{
    padding: 5px;
    margin: 10px;
    
}
#descrr{
    margin-bottom: 10px;
}
#descrtext{
    border: 1px solid;
    border-color: #333333;
    background-color: #E6E6E6;
    width: 100%;   
    height: 20vh;
    resize: none
}
#sendb{
    color: white;
    background-color: #2C5680;
    margin-top: 5vh;
    border: none;
    width: 20%;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    min-width: 70px;
}

input {
    height: 40%;
}
/* FOOTER */
footer{
    margin-top: 7vh;
    border-top: 5px solid;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 43%, rgba(44,86,128,1) 100%) 1;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
#content-footer{
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#contato{
    display: flex;
}
.div-partes{
    margin: 10px 0 18px 0;
    display: flex;
    align-items: center;
    color: white;
}
#mapa{
    margin-top: 2.6%;
    margin-right: 25px;
}
.img-footer{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
.map{
    padding-right: 10px;
    height: 20px;
    width: 15px;
}
.botao-quemSomos{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #DEB959;
    font-size: 25px;
    border: none;
}
.botao-quemSomos p{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.botao-quemSomos:visited{
    text-decoration: none;
    color: black;
}
#Desenvolvido{
    display: flex;
    flex-direction: column;
    min-width: 130px;
}
#Desenvolvido .escrito-desenvolvido{
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}
#Desenvolvido .img-desenvolvido{
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 1060px){
    #contato {
        display: flex;
        flex-direction: column;
    }
    #mapa{
        margin-bottom: 25px;
    }
}
@media (max-width:470px){
    #content-footer{
        justify-content: center;
        flex-direction: column;
    }
    #tudo-contato{
        justify-content: center;
    }
    .div-partes{
        justify-content: center;
    }
    #contato{
        justify-content: center;
    }
    #mapa{
        margin-left: 20px;
        justify-content: center;
        margin: none;
    }
    iframe{
        width: 95%;
        min-width: 140px;
    }
    .centraliza{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}